<h2>Edit <%= @brand.name %> <form action="/brands/<%= @brand.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button" class="btn btn-danger">Delete</button>
</form></h2>


<form action="/update-brand" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="brand_id" value="<%= @brand.id %>">
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" name="price" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success">Update Brand</button>
</form>
