<h3>Add a store to the database by completing the form below:</h3>

<form action="/add_store" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success">Add Store</button>
</form>
